<html data-wf-site="52f1b3efadd5fecd1b0000f4">
<head>
    <meta charset="utf-8">
    <title>Hello</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/hci-friends.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script>
        if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
    </script>
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
<!-- Header -->
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="row">
        <div class="col-xs-4 pull-left" >
        </div>
        <div class="col-xs-4" id="header-logo">
            <a>HELLO</a>
        </div>
    </div>
</div>


<div class="container">
    <div class="name-tag">
        <img class=".img-responsive" src="images/nametag.png"/>
        <span>
            <center>
           <form class="form-horizontal">
               <fieldset>
                   <div class="form-group">
                       <div class="col-lg-10">
                           <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                       </div>
                   </div>
                   <div class="form-group">
                       <div class="col-lg-10">
                           <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                       </div>
                   </div>
                   <div class="form-group">
                       <div class="col-lg-10 col-lg-offset-2">
                           <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                           <a href="#" class="btn btn-default">Log In</a>
                       </div>
                   </div>
               </fieldset>
           </form>
           </center>
        </span>
    </div>
    <div style="text-align: center; margin-top: 30px">
        <p>or <a id="sign-up-link">Sign Up</a></p>
    </div>

</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="js/webflow.js"></script>
</body>
</html>