<html data-wf-site="52f1b3efadd5fecd1b0000f4">
<head>
    <meta charset="utf-8">
    <title>Hello</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/hci-friends.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script>
        if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
    </script>
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
<!-- Header -->
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="row">
        <div class="col-xs-4 pull-left" >
        </div>
        <div class="col-xs-4" id="header-logo">
            <a id="header-logo-text">hello</a>
        </div>
    </div>
</div>


<div class="container">
            <center>
                <form class="form-horizontal" id="signupform" action="/your_profile">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="name" name="name" placeholder="First Name, Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="title" name="title" placeholder="Title (ex: student, ninja, best person ever, etc..)">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="3" id="bio" name="bio" placeholder="Write a short bio about yourself."></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="3" id="interests" name="interests" placeholder="Please list a few interests so we can get to know you!"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                                <input type="submit" name="submit" class="btn btn-primary" value="Sign Up!">
                                <a href="#" class="btn btn-default">Cancel</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </center>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!--<script src="js/jquery.js"></script>-->
<script src="js/jquery-1.11.0.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/hci-friends.js"></script>
<script src="js/signup.js"></script>
</body>
</html>