<!doctype html>

<html>
<head>
    <title>My HCI Friends</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/hci-friends.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

<!-- Header -->
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="row">
        <div class="col-xs-4 pull-left" >
            <a class="pull-left" href="/find_people">Back</a>
        </div>
        <div class="col-xs-4" id="header-logo">
            <a>HELLO</a>
        </div>
    </div>
</div>


<div class ="container-main">
    <div class="row profile-content">
        <button class="btn btn-primary btn-lg contact-button"  data-toggle="modal" data-target=".bs-modal-sm">
            Contact Me!
        </button>
    </div>

    <div class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <button class="btn btn-primary" data-toggle="modal" data-target=".bs-modal-lg">Meet Up</button>
                <button class="btn btn-primary" data-toggle="modal" data-target=".bs-modal-lg">Message</button>
                <button class="btn btn-primary" data-toggle="modal" data-target=".bs-modal-lg">Facebook</button>
            </div>
        </div>
    </div>



    <div class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                LOL YOU WISH
            </div>
        </div>
    </div>

    <div class="row profile-content">
        <div class="col-xs-5">
            <img class=".img-responsive" id="profile-img" src="images/profile-square.png"/>
        </div>
        <div class="col-xs-7">
            <div class="name-tag">
                <img class=".img-responsive" src="images/nametag.png">
                <span><p>John Doe</p></span>
            </div>

        </div>
    </div>
    <div class="container profile-content">
        <div class="row col-xs-12">
            <h4>Computer Science Student @ UC San Diego</h4>
            <p>Lorem ipsum dolor sit amet, in doming dictas cotidieque mei, vix dicunt viderer cotidieque te, mea sanctus facilisis constituam eu. Quo errem essent in, vim cu soluta iuvaret, eam et unum noluisse signiferumque. Pro te brute ubique definitiones. Ut impetus accumsan volutpat sed.</p>
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </div>
        <div class="row col-xs-12 profile-content" style="text-align: center">
            <h4>Social Points</h4>
            <p style="font-size: 50px">1,128</p>
        </div>
        <div class="row col-xs-12 profile-content" style="text-align: center;">
            <img class="medal" src="images/badge.png"/>
            <img class="medal" src="images/badge.png"/>
            <img class="medal" src="images/badge.png"/>
        </div>
    </div>
</div>

<!-- Fixed bottom navbar -->
<div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div>
        <div class="btn-group-lg btn-group-justified">
            <a href="/find_people" class="btn btn-default btn-lg">Find Friends</a>
            <a href="/alerts" class="btn btn-default btn-lg">Notifications</a>
            <a href="/my_friends" class="btn btn-default btn-lg">Friends</a>
            <a href="/your_profile" class="btn btn-default btn-lg">Profile</a>
        </div>
    </div>
</div>


</body>
<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/contact_card.js"></script>

</html>
