.friend-row {
    border-bottom: 1px solid #000000;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%
}

.alerts-tab {
    height: 60px;
}

.name, .description, .alerts, .messages {
    color: #000000;
}

.name {
    font-size: 20px;
}

.alerts {
    font-size: 14px;
}