@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/***********************************************/
/************** GENERAL STYLES *****************/
/***********************************************/


body {
    color: #000000;
    background-color: #f1f1f1;
    font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5 {
    color: #000000;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
}

h3 {
    font-family: 'Pacifico', sans-serif;
    font-size: 28px;
    color: #ffffff;
}


.container-main {
    margin-bottom: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}






    /************** MODAL STYLES *******************/
    .modal-content {
        width: 70%;
        padding: 1em;
        margin: 20% auto;
        text-align: center;
    }

    /************** NAME TAG STYLES ****************/
    .name-tag {
        position: relative;
        text-align: center;
    }

    .name-tag1 {
        position: relative;
        text-align: center;
    }

    .name-tag1 img {
        width: 100%;
    }

    .name-tag img {
        width: 90%;
    }

    .name-tag span, .name-tag1 span {
        position: absolute;
        display: block;
        z-index: 100;
        width: 100%;
        text-align: center;
        top: 25%;
        margin: 1em auto;
    }

    .name-in-name-tag {
        font-family: 'Pacifico', sans-serif;
        font-size: 14px;
    }

    .form-horizontal {
        margin-top: 30px;
        width: 80%
    }

    #sign-up-link {
        font-size: 20px;
    }


/***********************************************/
/************** HEADER STYLES ******************/
/***********************************************/
.navbar {
    background-color: #33373B;
    background-color: #be3a2b;
}

#header-logo {
    text-align: center;
}

#header-logo-text {
    color: #fff;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
}

.navbar .col-xs-4 .pull-right, .navbar .col-xs-4 .pull-left {
    margin: 10px;
}

.some-popover-link {
    padding: 10px;
    /*background-color: blue;*/
    color: #70bcc4;
}



/***********************************************/
/************ NAVIGATION STYLES ****************/
/***********************************************/

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    height: 60px;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar .navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
    height: 50px;
}

.navbar-icon {
    width: 20%
}

.nav {
    height: 60px;
    border-top: 5px solid #70bcc4;
}

.nav-icon {
    font-size: 22px;
    margin-bottom: 5px;
}

.nav li {
    width: 25%;
    height: 40px;
}

.nav li a {
    font-size: 9px;
}

/***********************************************/
/*********** PROFILE PAGE STYLES ***************/
/***********************************************/
.profile-content {
    margin: 20px auto;
}

#profile-img {
    width: 100%;
}

.medal {
    width: 60px;
    margin: 0 1em;
}

#my-name {
    font-family: 'Pacifico', sans-serif;
}

/***********************************************/
/*********** CONTACT CARD STYLES ***************/
/***********************************************/

@-webkit-keyframes arm {
    /*from { -webkit-transform: rotate(0deg); }
    70% { -webkit-transform: rotate(20deg); }
    to { -webkit-transform: rotate(0deg); }*/
    0% { -webkit-transform: rotate(0deg); }
    25% { -webkit-transform: rotate(15deg); }
    to { -webkit-transform: rotate(20deg); }
    75% { -webkit-transform: rotate(5deg); }
    to {-webkit-transform: rotate(10deg);}

}


#meet-up-arrow {
    /*-webkit-transform-origin:0% 60%;*/
    /*-webkit-animation:arm 4s alternate infinite ;*/
    /*-webkit-animation:arm 4s alternate infinite ;*/

    margin: 0 auto;
}

#map-canvas {
    height: 100%;
}


/***********************************************/
/************** BUTTON STYLES ******************/
/***********************************************/
.btn-lg {
    height: 60px;
}

.contact-button {
    width: 80%;
    margin: 0 auto;
}

.contact-card-btn {
    width: 100%;
    margin: 0 auto;
}

#contactcard {
    text-align: center;
    border: 1px solid lightgrey;
    margin-left: 15px;
    margin-right: 15px;
}

#contactcard h4 {
    font-size: 12px;
    color: #ffffff;
    padding: 10px;
    background-color: #70bcc4;
    margin: 0;
}

.contact-circle
{
    width:60px;
    height:60px;
    border-radius:250px;
    font-size:10px;
    color:#fff;
    /*line-height:20px;*/
    text-align:center;
    background: transparent;
    border-color: #70bcc4;
    border-width: 1px;
    color: #70bcc4;
    font-weight: lighter;
    margin: 10px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
}

.contact-circle:hover {
    background-color: #70bcc4;
    color: #ffffff;
}

.accept-btn {
    font-size: 60px;
    color: #70bcc4;
}

.decline-btn {
    font-size: 60px;
    color: #be3a2b;
}

.accept-btn:hover {
    color: #70bcc4;
    opacity: 0.6;
}

.decline-btn:hover {
    color: #be3a2b;
    opacity: 0.6;
}

#logout-btn {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #70bcc4;
    text-transform: uppercase;
    font-size: 14px;
    background: #70bcc4;
    color: #ffffff;
}

#login-btn {
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 14px;
    background: #a6d5da;
    color: #ffffff;
    background-color: #a6d5da;
    width: 60%;
    border: transparent;
}

#login-btn:hover {
    opacity: 0.6;
}

#logout-btn:hover {
    opacity: 0.6;
}

#signup-btn {
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 14px;
    background: #a6d5da;
    color: #ffffff;
    background-color:#a6d5da ;
    width: 40%;
    border-color: #a6d5da;
    display: inline;
    margin: 10px;
}

#cancel-btn {
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 14px;
    background: #be3a2b;
    color: #ffffff;
    background-color: #be3a2b;
    border-color: transparent;
    display: inline;
    width: 40%;
    margin: 10px;
}

.break-ice-btn {
    background-color: #70bcc4;
    border: none;
    border-radius: 4px;
    padding: 10px;
    color: #ffffff;
}


/*********************************************/
/*************** PEOPLE PAGE *****************/
/*********************************************/
.name {

}

.distance {
    font-size: 9px;
    color: grey;
    margin: 0;
    padding: 0
}

.title {
    color: #000000;
    font-size: 12px;
    margin: 0.3em auto;
    padding: 0;
}

.people-img {
    border: 1px solid grey;
}


/*********************************************/
/************** FRIENDS PAGE *****************/
/*********************************************/
.text-over-image {
    position: absolute;
    z-index: 100;
    color: white;
    background-color: rgba(51, 55, 59, 0.6);
    padding: 5px 10px;
    display: inline;
    width: 32.5%;
    margin: 0;
}

.text-over-image p {
    font-size: 9px;
}

/*.friend-gallery {
    width: 32.7%;
    margin: 0;
    padding: 0;
    display: inline;
}*/


.friend-section {
    margin-left: 10px;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
}


/*********************************************/
/************** SETTINGS PAGE ****************/
/*********************************************/
.settings-div {
    width: 80%;
    margin: 0 auto;
}

/*********************************************/
/************** MESSAGES PAGE ****************/
/*********************************************/
.mm-title {
    color: #ffffff;
}

.messaging-name {
    text-align: center;
    margin-top: -30px;
    font-weight: lighter;
}