@import url(http://fonts.googleapis.com/css?family=Pacifico);

/***********************************************/
/************** GENERAL STYLES *****************/
/***********************************************/


body {
    color: #000000;
}

h1,h2,h3,h4,h5 {
    color: #000000;
}


.container-main {
    margin-bottom: 140px;
}

.list-container {

}

    /************** BUTTON STYLES ******************/
    .btn-lg {
        height: 60px;
    }

    .contact-button {
        width: 80%;
        margin: 0 auto;
    }

    .contact-card-btn {
        width: 100%;
        margin: 0 auto;
    }


    /************** MODAL STYLES *******************/
    .modal-content {
        width: 50%;
        padding: 2em;
        margin: 30% auto;
    }

    /************** NAME TAG STYLES ****************/
    .name-tag {
        position: relative;
        text-align: center;
    }

    .name-tag img {
        width: 90%;
    }

    .name-tag span {
        position: absolute;
        display: block;
        z-index: 100;
        width: 100%;
        text-align: center;
        top: 25%;
        margin: 1em auto;
    }

    .form-horizontal {
        margin-top: 30px;
        width: 80%
    }

    #sign-up-link {
        font-size: 20px;
    }


/***********************************************/
/************** HEADER STYLES ******************/
/***********************************************/
#header-logo {
    text-align: center;
    font-family: 'Pacifico', cursive;
}

#header-logo a {
    color: #fff;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
}

.navbar .col-xs-4 .pull-right, .navbar .col-xs-4 .pull-left {
    margin: 10px;
}


/***********************************************/
/************ NAVIGATION STYLES ****************/
/***********************************************/

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar .navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
}

.navbar-icon {
    width: 20%
}



/***********************************************/
/*********** PROFILE PAGE STYLES ***************/
/***********************************************/
.profile-content {
    margin: 20px auto;
}

#profile-img {
    width: 100%;
}

.medal {
    width: 60px;
    margin: 0 1em;
}

/***********************************************/
/*********** CONTACT CARD STYLES ***************/
/***********************************************/

@-webkit-keyframes arm {
    /*from { -webkit-transform: rotate(0deg); }
    70% { -webkit-transform: rotate(20deg); }
    to { -webkit-transform: rotate(0deg); }*/
    0% { -webkit-transform: rotate(0deg); }
    25% { -webkit-transform: rotate(15deg); }
    to { -webkit-transform: rotate(20deg); }
    75% { -webkit-transform: rotate(5deg); }
    to {-webkit-transform: rotate(10deg);}

}


#meet-up-arrow {
    /*-webkit-transform-origin:0% 60%;*/
    -webkit-animation:arm 4s alternate infinite ;

    margin: 0 auto;
}